:root{
  --DarkGrey: rgb(54, 57, 65);
  --DarkGreen: rgb(23, 161, 92);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color:inherit;  
}

ul {
  list-style-type:none;
}

header {
  background-color: var(--DarkGrey);
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  & .header-logo{
    display: flex;
    align-items: center;
    font-size: 1em;
    & img {
      height:60px;
    }
  }
}


nav {
  & ul {
  display: flex;
  align-items: center;
    & li {
      padding: 10px;
      font-size: 0.9em;
    }
    & li:hover{
      color:var(--DarkGreen)
    }
  }
}
/*El operador & permite escribir las propiedades heredadas de forma similar al html para mejorar la claridad del código*/

section .hero-banner {
  position: relative;
  & .contenido-hero-banner {
    position: absolute;
  }

}
